@model IEnumerable<SMS.Models.Registration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CcodeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SidNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TidNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CcodeNavigation.CCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SidNavigation.Sid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TidNavigation.Tid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
